@import url(http://fonts.googleapis.com/css?family=Cantora+One);
 #Qstage {
  font-family:'Cantora One', sans-serif;
  border: thin solid #666;
  position:relative;
  overflow:hidden;
  margin: auto;
  font-size: 16pt;
  height: 500px;
  width: 700px;
  padding: 25px;
}
#title {
  font-size: 18pt;
  font-weight: bold;
  margin-bottom: 10px;
}
#allQuestions {
  list-style-type:decimal;
}
.questionSet {
  position:absolute;
  width: 500px;
  top: 200px;
  margin-left:auto;
  margin-right:auto;
}
/************************************
Multiple Choice CSS
************************************/
.choices {
  list-style-type: lower-alpha;
  margin-left: 50px;
}
.choices li {
  position:relative;
}
.choices li ol {
  position:relative;
  left:20;
}
.choices a {
  text-decoration: none;
}
.choices a:hover {
  color: #F00;
}
/************************************
results CSS
************************************/
 .results {
  position:absolute;
  width: 500px;
  top: 200px;
  margin-left:auto;
  margin-right:auto;
}
.resultsTitle {
  display: block;
  font-size: 18pt;
  font-weight: bold;
  margin-bottom: 10px;
}